@model FamousQuoteQuiz.Web.ViewModels.HomeViewModel

<div>
    @Html.HiddenFor(m => m.Question.Id, new { @class = "question", @id = @Model.Question.Id })

    <div class="gray-label">Who Said It?</div>
    <div class="description">"@Model.Question.Description"</div>

    <div id="result_view"></div>
    <div class="btn-wrapper">
        @Html.ActionLink("Next", "Index", null, new { @class = "hidden_el btn btn-info", @id = "btn_next" })
    </div>
    <div id="authors_container">
        @foreach (var author in Model.Authors)
        {
            <div class="authors-wrapper">
                <a class="authors" id="@author.Id">-> @author.FullName</a>
            </div>
        }
    </div>

</div>

